body{
    background-color: #A6865A8F;
}

header{
    text-align: center;
    font-size: xx-large;
    
}



#desctription{
    display: block;
    height: 200px;
}

#descrptLabel{
    display: block;
}

textarea{
    display: block;
    margin-top: 10px;
}

#first{
    border: solid 1px black;

}