body{
    background-color: #A6865A8F;
}

header{
    text-align: center;
    font-size: xx-large;   
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
    justify-content: space-evenly;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#desctription{
    display: block;
    height: 200px;
}

#descrptLabel{
    display: block;
}

textarea{
    display: block;
    margin-top: 10px;
}

#first{
    border: solid 1px black;

}